*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    
    }
    
    body{
    
        height:  100px;
        background-color:#f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container{
    
    width: 450px;
    height: 80vh;
    top: 50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow:  2px 2px 20px rgba(0, 0,0,0);
    background-color: dodgerblue;
    }
    
    .logo{
    
    
    padding: 15px;
    
    }
    .textologo{
    
    color: white;
    position: relative;
    font-family: sans-serif;
    
    
    
    }
     .texto {
    
        flex: 1;
        color: white;
        background-color: rgba(0, 0, 0,0.7);
        padding: 20px 30px;
    
     }
    
     .texto p{
    
        background-color: dodgerblue;
        padding: 5px;
        color: white;
        width: fit-content;
        border-radius: 10px;
        margin-bottom: 15px;
    
    
     }
    
     .texto .voice2text{
    
    
    margin-left: auto;
    background-color: white;
    color: black;
    
     }
    
    .container form{
    
        display: flex;
    }
    
    .container form input{
    
        flex: 1;
        height: 48px;
        border: none;
        outline: none;
        padding-left: 5px;
        font-size: 16px;
    }
    
    .talk{
    
    font-size: 40px;
    position: relative;
    left: 410px;
    background: white;
    border-radius: 10px;
    
    
    }
    
    
    .talk .bi{
    
        color: black;
    }
    
    